In [1]:
import numpy as np
import pandas as pd
from numpy import linalg as la
import statistics
import matplotlib.pyplot as plt
# segregating data into two vectors
val = pd.read_excel(r'/content/ml1.xlsx')
a = val.iloc[:,1:4].to_numpy()
c = val.iloc[:,4].to_numpy()

In [3]:
#finding dimensionality of the vector
dimension = val.shape
print("The dimension using shape is ", dimension)
dimension1 = val.ndim
print("The dimension using ndim is ", dimension1)

The dimension using shape is  (10, 22)
The dimension using ndim is  2

In [4]:
#how many vectors exist in this vector space
print("Number of vectors in the vector space are ",len(val))

Number of vectors in the vector space are  10

In [5]:
#rank of matrix
rankofmatrix = la.matrix_rank(a)
print("Rank of matrix A is ",rankofmatrix)

Rank of matrix A is  3

In [6]:
#finding pseudo inverse of a matrix
inverse = la.pinv(a)

x = np.matmul(inverse,c)

print(x)

[ 1. 55. 18.]

In [7]:
#classifying into rich and poor
val['rich/poor'] = np.where(val['Payment (Rs)'] > 200,'Rich','Poor')

print(val)

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...
5         NaN         NaN         NaN         NaN         NaN  ...
6         NaN         NaN         NaN         NaN         NaN  ...
7         NaN         NaN         NaN         NaN         NaN  ...
8         NaN         NaN         NaN         NaN         NaN  ...
9         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 18  Candy  Mango  Milk  rich/poor
0          NaN    1.0   55.0  18.0       Rich
1          NaN    NaN    NaN   NaN       Rich
2          NaN    NaN    NaN   NaN       Rich
3          NaN    NaN    NaN   NaN       Poor
4          NaN    NaN    NaN   NaN       Rich
5          NaN    NaN    NaN   NaN       Poor
6          NaN    NaN    NaN   NaN       Rich
7          NaN    NaN    NaN   NaN       Rich
8          NaN    NaN    NaN   NaN       Poor
9          NaN    NaN    NaN   NaN       Poor

[10 rows x 23 columns]